%% -*- erlang -*-
{erl_opts, [debug_info]}.
{xref_checks, [undefined_function_calls]}.

{deps, [
    {cowboy,  "2.6.3"},
    {eknife,  {git, "https://github.com/relabsoss/eknife.git", {branch, "master"}}},
    {sync,    {git, "https://github.com/rustyio/sync.git", {branch, "master"}}}
  ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [sync, wa]}
]}.
