[
  {kernel, [
    {logger_level, debug},
    {logger, [
      {handler, default, logger_std_h,
        #{
          formatter => {logger_formatter, #{
            template => [time, " [", level, "] (", file, ":", line, ") ", msg, "\n"]
          }}
        }
      },
      {handler, disc_log, logger_disk_log_h,
        #{
          level => error,
          formatter => {logger_formatter, #{
            template => [time, " [", level, "] (", file, ":", line, ") ", msg, "\n"]
          }},
          config => #{file => "log/wa.log"}
        }
      }
    ]}
  ]},

  {wa, [
    {modules, []}
  ]}
].
